.wraper {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: rgb(241, 217, 184);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
