* {
  box-sizing: border-box;
}
.wraper {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: rgb(241, 217, 184);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart {
  width: 19%;
  min-height: fit-content;
  border: 1px solid black;
  margin-bottom: 5px;
  color: rgb(2, 20, 5);
  background-color: white;
}
.poster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.poster > img {
  width: 100%;
}
.pages {
  display: flex;
  margin: auto;
}
.pages > div {
  border: 1px solid black;
  width: 24px;
  height: 24px;
  margin: 4px;
  cursor: pointer;
}
.previos,
.next {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.like {
  top: 315px;
  right: 0;
}
.like > svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
